<form class="card" #myForm="ngForm" (ngSubmit)="createOrUpdateNote(myForm)">

  <input name="id" [(ngModel)]="selectedNote().id" hidden/>
  <p class="card-content">
    <label  class="label" for="title-edit">Titre: </label>
    <input class="input" type="text" id="title-edit" placeholder="Titre" name="title" [(ngModel)]="selectedNote().title" required/>
  </p>
  <p class="card-content">
    <label class="label" for="description-edit">Description: </label>
    <textarea class="textarea"
              id="description-edit"
              name="description"
              placeholder="Description"
              cols="50"
              rows="5" [(ngModel)]="selectedNote().description">
      </textarea>
  </p>
  <p class="card-content">
    <label class="label" for="done-edit">Effectuée?: <input class="checkbox" name="done" type="checkbox" id="done-edit" [(ngModel)]="selectedNote().done"/></label>

  </p>
  <div class="card-footer">
    <button class="card-footer-item" type="submit" [disabled]="myForm.invalid">Enregistrer</button>
    <button class="card-footer-item" type="button" (click)="reset()">Reset</button>
  </div>
</form>
