<div [ngStyle]="{display: 'flex'}">
  <div class="main">
    <!--  head-->
    <div class="head">
      <div>
        <label for="notes-number">Notes : </label>
        <span id="notes-number">{{notes.length}}</span>
      </div>
      <div *ngIf="onlyDone().length !== 0; else motivate">
        <label for="only-done-notes-number">Done : </label>
        <span id="only-done-notes-number">{{onlyDone().length}}</span>
      </div>
      <ng-template #motivate>
        <span>Faites un effort svp !!</span>
      </ng-template>
    </div>

    <!--  notes-->
    <div *ngFor="let note of notes" [ngClass]="{'note': true, 'done': note.done}"  (click)="selectNote(note.id)">
      <span class="note-title">{{note.title |  uppercase}}</span>
      <span>(Créée le : {{note.createdAt | date : 'dd/MM/yyyy'}})</span>
      <p class="note-description">{{note.description}}</p>
      <div class="actions">
        <div>
          <label>Effectuée ?</label>
          <input type="checkbox" [checked]="note.done" (click)="toggleDone(note.id);$event.stopImmediatePropagation()"/>
        </div>
        <button [disabled]="note.done" (click)="deleteNote(note.id);$event.stopImmediatePropagation()">Supprimer</button>
      </div>
    </div>
  </div>
<!--  form-->
  <form class="form" #myForm="ngForm" (ngSubmit)="createOrUpdateNote(myForm)">
    <input name="id" [(ngModel)]="selectedNote.id" hidden/>
    <p>
      <label for="title-edit">Titre: </label>
      <input type="text" id="title-edit" placeholder="Titre" name="title" [(ngModel)]="selectedNote.title" required/>
    </p>
    <p class="description-edition">
      <label for="description-edit">Description: </label>
      <textarea id="description-edit"
                name="description"
                placeholder="Description"
                cols="50"
                rows="5" [(ngModel)]="selectedNote.description">
      </textarea>
    </p>
    <p>
      <label for="done-edit">Effectuée?: </label>
      <input name="done" type="checkbox" id="done-edit" [(ngModel)]="selectedNote.done"/>
    </p>
    <div class="actions">
      <button type="submit" [disabled]="myForm.invalid">Enregistrer</button>
      <button type="button" (click)="reset()">Reset</button>
    </div>
  </form>

</div>

<pre>{{myForm.value | json}}</pre>
<pre>{{myForm.valid | json}}</pre>
<!--<pre>{{notes | json}}</pre>-->
