<div [ngStyle]="{display: 'flex'}">
  <div class="main">
    <!--  head-->
    <div class="head">
      <div>
        <label for="notes-number">Notes : </label>
        <span id="notes-number">{{notes.length}}</span>
      </div>
      <div *ngIf="onlyDone().length !== 0; else motivate">
        <label for="only-done-notes-number">Done : </label>
        <span id="only-done-notes-number">{{onlyDone().length}}</span>
      </div>
      <ng-template #motivate>
        <span>Faites un effort svp !!</span>
      </ng-template>
    </div>
    <!--  notes-->
     <app-note *ngFor="let note of notes" [note]="note"
               (selected)="selectNote($event)" (deleted)="deleteNote($event)">

     </app-note>
  </div>
  <app-note-editor></app-note-editor>
</div>

