<div [ngClass]="{'note': true, 'done': note.done}" (click)="selected.emit(note.id)">
  <span class="note-title">{{note.title |  uppercase}}</span>
  <span>(Créée le : {{note.createdAt | date : 'dd/MM/yyyy'}})</span>
  <p class="note-description">{{note.description}}</p>
  <div class="actions">
    <div>
      <label>Effectuée ?</label>
      <input type="checkbox" [checked]="note.done" disabled/>
    </div>
    <button [disabled]="note.done" (click)="deleted.emit(note.id)">Supprimer</button>
  </div>
</div>
