<div class="container">
  <h1 class="title is-1 mt-6">Modifier le profil</h1>
  <form class="field" #userForm="ngForm" (ngSubmit)="updateuser(userForm)">
    <p class="mt-4">
      <label  class="label" for="name-edit">Nom : </label>
      <input class="input" type="text" id="name-edit" placeholder="Nom" name="username" [(ngModel)]="myUser().username" required/>
    </p>
    <p class="mt-4">
      <label class="label" for="firstname-edit">Prénom : </label>
      <input  class="input" type="text" id="firstname-edit" placeholder="Prénom" name="firstname" [(ngModel)]="myUser().firstname" required/>
    </p>
    <p class="mt-4">
      <label class="label" for="country-edit">Pays : </label>
      <input class="input" type="text" id="country-edit" placeholder="Pays" name="country" [(ngModel)]="myUser().country" required/>
    </p>
    <p>
      <button class="button is-dark mt-4" type="submit">Enregistrer</button>
    </p>
  </form>

</div>
